---
---
<canvas class="maze_generator"></canvas>
<section class="profile_photo"></section>

<style>
  .maze_generator{
    flex:2;
    background-color: grey;
  }
  .profile_photo{
    flex:1;
  }
</style>
